# Server Configuration
PORT=3000

# Resend Email Integration
RESEND_API_KEY=re_123456789
EMAIL_FROM=no-reply@hypnagogia.pl
ADMIN_EMAIL=your-email@example.com

# YouTube API
YT_API_KEY=AIzaSy_123456789
YT_CHANNEL_ID=UC_123456789

# Stripe Integration
STRIPE_SECRET_KEY=sk_test_123456789
STRIPE_WEBHOOK_SECRET=whsec_123456789
STRIPE_SUCCESS_URL=https://studio.hypnagogia.pl/purchase-success.html
STRIPE_CANCEL_URL=https://studio.hypnagogia.pl/

# Beat Store Config
PRODUCER_NAME=HYPNAGOGIA
